@model List<CustomerApp.Models.Customer>

@{
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>homezad</title>
    <link href="~/style.css" rel="stylesheet" />
    <!--<link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" /> -->
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h3>Customer List</h3>
        <a href="/Home/Create">Add</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">age</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.Id</th>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Age</td>
                        <td>
                            <a href="/Home/Update/@item.Id">Update</a>
                            <a href="/Home/Remove/@item.Id">Remove</a>
                        </td>
                    </tr>

                }

            </tbody>
        </table>

    </div>

    
</body>
</html>
