@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int age = 27;
    /*string value = string.Empty;
    if( age > 18)
    {
    value = "Yas 18 den boyuk";
    }
    else
    {
    value = "Yas 18 den kicik";
    }
    */
    int Calculate(int number1, int number2)
    {
        return number1 + number2;
    }
    var result = Calculate(1, 2);

    List<string> names = new() { "Memmed" , "MElik", "veli"};
}

<ul>
    <li>Hasan @(age > 18 ? "Yas 18 den boyuk" : "Yas 18den kicik")</li>
    <li>Hasan @result</li>
    <li>Hasan</li>
</ul>

<br />

@foreach (string item in names)
{
    <p>
        @(item.ToLower() == "melik" ? "Melik nagili" : item)
    </p>
}

<br />

<p>
    @TempData["SomeData"]
</p>

<hr />

